

<!-- Modal -->

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div  class="modal-header">
        <h1 class="modal-title fs-5" >Editar Cliente</h1>
      </div>
      <div class="modal-body">


        <div class="row g-3" >
          <div class="col-md-6">
            <label class="form-label">Nombre:</label>
            <input  type="text" class="form-control" [(ngModel)]="clientEditServ.udtClient.nombre" >

          </div>
          <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Apellido:</label>
            <input type="text" class="form-control" [(ngModel)]="clientEditServ.udtClient.apellido">
          </div>

          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Edad:</label>
            <input type="number"  class="form-control" [(ngModel)]="clientEditServ.udtClient.edad">

          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Fech. Nac.:</label>
            <input type="date" class="form-control" [(ngModel)]="clientEditServ.udtClient.fechNac">
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">DNI:</label>
            <input type="number" class="form-control"  [(ngModel)]="clientEditServ.udtClient.dni" disabled readonly>
          </div>


        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="saveClientUpdate()" >Guardar</button>
      </div>
    </div>
  </div>
</div>
